<h2>Song Index</h2>


<table>
  <thead>
    <tr>
      <th>Song</th>
      <th>Artist</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
    <tr>
      <td><%=song.title%></td>
      <td><%=song.artist_name%></td>
      <td><%= link_to "Show", song %></td>
      <td><%= link_to "Edit", edit_song_path(song) %></td>
      <td><%= link_to "Delete", song, method: :delete, data: { confirm: "Really?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
