<h2><%= @song.title %></h2>
<p>
    Artist: <%= @song.artist_name %><br>
    Year: <%= @song.release_year %><br>
    Genre: <%= @song.genre %><br>
</p>

<%= button_to('Edit', edit_song_path(@song), method: :get) %>
<%= button_to('Delete', delete_song_path(@song), method: :delete) %>
<%= button_to('Home', root_path, method: :get) %>